<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="علی سلیمانی مدرس و علاقه مند به فناوری های جدید در حوضه برنامه نویسی و آی تی">
    <meta name="keywords" content="آموزش برنامه نویسی, programmer, IT, developer, html, css, javascript, node">

    <!-- Site titlle -->
    <title><%- pageTitle %></title>

    <!-- Links -->
    <link rel="shortcut icon" href="<%- pageIcon %>" type="image/x-icon">
    <link rel="stylesheet" href="css/particles.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- Scripts -->
    <script src="https:///use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>